.funds-table .data {
  padding: 5px 0;
  margin: 0;
}

.funds-table .data p {
  margin: 0;
}

.funds-table hr {
  margin: 10px 0;
}
.funds {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.funds + .row {
  margin-top: 0 !important;
}